#choiceBox .label{
	-fx-text-fill: #383838;
}

.label{
	-fx-text-fill: #F8F8F8;
}


.list-cell:filled:selected {
    -fx-text-fill: #489CDF;
}

.list-cell{
	-fx-text-fill: #B8B8B8;
}

.list-view .list-cell{
	-fx-background-color: #282828;
}

.root{
	-fx-background: #282828;
}

.tab .tab-label { 
    -fx-text-fill: #B8B8B8;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-text-fill: #489CDF;
}

.tab, .tab-pane{
    -fx-tab-min-width:90px;
    -fx-background-insets: 0 1 0 1;
}

.tab-pane .tab{
    -fx-background-color: #484848;
}

.tab-pane .tab:selected{
    -fx-background-color: #282828;
}

.text-area .content {  
    -fx-background-color: #282828 ;
    -fx-text-fill: #F8F8F8;  
}  

.text-area-text{
	-fx-text-fill: #F8F8F8;
}
    
.tree-view .tree-cell{
	-fx-background-color: #282828;
	-fx-text-fill: #F8F8F8;
}


 